table td {
	display: table-cell;
}

table a {
	color:blue;
}

#beheren hr {
	margin:4px;
	width:100%;
}

#inwisselen hr {
	margin:8px;
}

.icon {
	margin:auto; 
	width:30px; 
	display:inline-block;
	padding-right:10px;
}

#sidebar {
	overflow-y: auto; 
	height:90vh;
}

#sidebar li {
	list-style:none;
}

#empower {
	max-height:50px; 
	width: auto; 
	margin-top:-28px;
}

.stats {
	background:white; 
	text-align:center; 
	border-radius:25px; 
	padding-top: 50px; 
	padding-bottom: 50px; 
	box-shadow: 0 1rem 8rem rgba(214,223,239,0.5);
}

.stats .col-md-3 {
	border-right:1px solid #e9e9e9;
}

.stats .col-md-3 h1 {
	font-size:2.15rem; 
	font-weight:bold;
}

.stats .col-md-3 p {
	font-size:16px; 
	margin-bottom:20px;
}

.stats .col-md-3 img {
	max-height:25px; 
	width: auto; 
	margin-right:10px;
}

.nav-tabs .nav-item {
	padding:0px;
}

.nav-tabs {
	margin-left:400px;
}

#verdienen .row, #beheren .row, #inwisselen .row, #informatie .row, #impactlijst .row, #profiel .row, #accountgegevens .row,  #administratie .row{
	background:white; 
	border-radius:25px; 
	padding: 50px; 
	box-shadow: 0 1rem 8rem rgba(214,223,239,0.5);
}

.padding-left-20 {
	padding-left:20px; 
}

.projects h2 {
	font-weight:bold;
}

.icon {
	margin:auto; width:30px; 
	display:inline-block;
	vertical-align: sub;
}

.icon img {
	max-height:25px; 
	width: auto; 
	margin-right:10px; 
	display:block; 
	margin:auto;
}

hr {
	width:100%;
}

.inwisselen .row h2 {
	font-weight:bold; padding-top:8px;
}

.nav-item .active {
	color:white;
}

#content a {
	color:blue;
}

.acf-label {
	display:block;
	font-weight:normal;
	text-transform: capitalize;
	margin-bottom:2px;
}

.acf-form {
	width:100%;
	margin-top:20px;

}

.nav-pills a.nav-link.active {
	color:white!important;
}

.acf-fields > .acf-field {
	border-top:none;
}

#inwisselen .icon {
	padding-top:10px;
}

#inwisselen .nav-links {
	padding-top:0px;
}

#inwisselen h3 {
	padding-top:5px;
}



.legenda {
	font-size:14px;
}

.legenda ol {
	padding-left:10px;
}

#dashboard-link a:hover, #informatie-link a:hover, #impactlijst-link a:hover, #profiel-link a:hover, #accountgegevens-link a:hover {
	font-weight:bold;
}

#sidebar .active {
	font-weight:bold;
}

.progressie h2 {
	display: inline-block;
}

.progressie a {
	color:#4081ff; 
	border-bottom:4px solid #4081ff; 
	margin-left:10px;
}

#curve_chart_open {
	width: 100%; 
	height: 100%; 
}

.totals h3, .totals .nav-link, .totals h2 {
	margin:0;
	padding:0;
	padding-left:20px;
}

.totals h2 {
	padding-top:4px;
}

#inwisselen .totals h3 {
	padding-top:12px;
}

.totals .nav-link {
	display:inline-block;
}

td img {
	width:20px;
}

.nav-link {
	display:inline-block;
}

.modal-lg {
	max-width: 1000px;
}

.dataTables_wrapper {
	font-size:12px;
}

#content {
	padding-top:20px;
}

/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: white;
  position: fixed;
 /* height: 100%;*/
  overflow: auto;
  box-shadow: 0 1rem 8rem rgba(214,223,239,0.5);
  padding-top:30px;
  padding-bottom:30px;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #19d895;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 1280px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    padding-bottom:0px;
    margin-bottom:40px;
  }
  .sidebar a {float: left;}
  div#content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

#view-gegevens p {
	font-weight:bold;
}

#view-gegevens h2 {
	display:inline-block;
}

#edit-gegevens h2 {
	display:inline-block;
}