table td {
	display: table-cell;
}

main a {
	font-weight:bold; 
	color:blue;
}

.nota {
	margin-left:-50px; 
	margin-right:-35px;
}


.info {
	font-size:14px; margin-bottom:20px;
}

.nota h1 {
	display: inline-block;
}

#ref {
	display:inline-block;
	float:right;
}

.nota p {
	font-size:14px;
}

.acf-label {
	display:block;
}

.printomatictext  {
	color:blue!important;
	font-weight:bold!important;
}