table td {
	display: table-cell;
}

main a {
	font-weight:bold; 
	color:blue;
}

.projectinfo {
	margin-left:-50px; 
	margin-right:-35px;
}

.projectinfo h2 {
	padding-left:35px; 
	padding-top:35px; 
	display:inline-block; 
	font-family: 'Arial';
}

.projectinfo .content {
	margin-top:-70px; padding-top:70px;
}

#edit-link {
	float:right;
	padding-top:35px;
	padding-right:15px;
}

.comments-area {
	margin-top:0px;
}

#respond {
	padding-top:0px;
}

.voorstellen {

	margin-top:30px; padding-left:60px;

}

.voorstellen p {
	font-size:14px;
}

.voorstellen a {
	color:blue;
}

.taken {
	margin-top:-50px;
}

.discussie {
	margin-top:50px;
}

td img {
	width:20px;
}


.info {
	font-size:14px; margin-bottom:20px;
}

td .badge-success {
	color:white;
	padding:5px;
}

#mijn-taken i {
	font-size:14px;
	padding:10px;
}

#mijn-taken a {
	color:blue;
}

#mijn-taken hr {
	margin-top:0px;
}

#alle-taken, #mijn-taken {
	font-size:12px;
}